<%= form_for([@pad, @conversation]) do |f| %>
  <% if @conversation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conversation.errors.count, "error") %> prohibited this conversation from being saved:</h2>

      <ul>
      <% @conversation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topic %><br />
    <%= f.text_field :topic, :size => 60%>
  </div>
  
  <div class="field">
    Message<br />
    <textarea cols="80" id="message_body" name="message_body" rows="5"></textarea>
  </div>
  
  <div class="actions">
    <%= f.submit "Start Conversation "%>
  </div>
<% end %>
