<p id="notice"><%= notice %></p>

<p>
  <b>Topic:</b>
  <%= @conversation.topic %>
</p>

<p>
  <b>Pad:</b>
  <%= @conversation.pad_id %>
</p>


<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
